.cards {
    width: 100%;
    display:flex; 
    justify-content: space-evenly;
}

.votes {
    min-width: 60vw;
    max-width: 100vw;
    height: 65vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.vote-button {
    width: 3em;
    height: 4em;
    text-align: center;
    background-color: rgb(23, 23, 221); 
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.3em;
    transition: all 0.15s ease-in-out;
    box-shadow: 0 0 2px rgb(14, 14, 139);
    font-weight: bold;
    outline:none;
}

.vote-button:hover {
    transition: all 0.15s ease-in-out;
    background-color: blue;
    box-shadow: 0 0 2px blue;
    cursor:pointer;
}

.card {
    width: 100px;
    height: 100px;
    margin: 1em;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card-empty {
    width: 100%;
    height: 5em;
    border-radius: 0.1em;
    background: rgba(17, 17, 151, 0.082);
    border: 1px solid rgb(17, 17, 151);
    font-size: 40px;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 2.5em;
    height: 5em;
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card__face--front {
    border-radius: 0.1em;
    background-color: rgb(23, 23, 221); 
    border: 1px solid rgb(17, 17, 151);
}

.card__face--back {
    border-radius: 0.1em;
    background-color: rgb(23, 23, 221); 
    transform: rotateY(180deg);
    border: 1px solid rgb(17, 17, 151);
}

.footer {
    position: fixed;
    top: 70%;
    width: 100vw;
    height: 30vh;
    box-shadow: 0px -2px 8px 0 rgb(0 0 0 / 20%);
    background-color: rgb(12,20,36);
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.owner-buttons {
    display:flex;
    justify-content: space-evenly;
    width: 50vw;
}
